body {
    background: #FFFFFF;
}
table {
    width: 100%;
    border: 1px solid #000;
    border-collapse: collapse;
 }
td {
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
 }
 th {
    text-align: center;
    border: 1px solid #000;
 }
